.feature {
    flex: 3;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    margin-right: 20px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        
        .title {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featureChart {
            width: 100px;
            height: 100px;
        }

        .title {
            font-weight: 500;
            color: gray;
        }

        .amount {
            font-size: 30px;
        }

        .desc {
            font-weight: 300;
            font-size: 12px;
            color: grey;
            text-align: center;
        }

        .summary {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                text-align: center;

                .itemTitle {
                    font-weight: 500;
                    color: gray;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .feature {
        flex: 100%; /* Để đảm bảo rằng nó sẽ chiếm toàn bộ chiều rộng */
        margin-right: 0; /* Loại bỏ margin-right */
        
        .bottom {
            padding: 10px; /* Điều chỉnh khoảng cách giữa các phần tử ở màn hình nhỏ hơn */
            
            .featureChart {
                width: 60px; /* Điều chỉnh kích thước featureChart ở màn hình nhỏ hơn */
                height: 60px;
            }

            .title {
                font-size: 14px; /* Điều chỉnh font-size cho .title ở màn hình nhỏ hơn */
            }

            .amount {
                font-size: 24px; /* Điều chỉnh font-size cho .amount ở màn hình nhỏ hơn */
            }

            .desc {
                font-size: 10px; /* Điều chỉnh font-size cho .desc ở màn hình nhỏ hơn */
            }

            .summary {
                .item {
                    .itemResult {
                        font-size: 12px; /* Điều chỉnh font-size cho .itemResult ở màn hình nhỏ hơn */
                    }
                }
            }
        }
    }
}